[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iraceplot"]
	path = iraceplot
	url = https://github.com/auto-optimization/iraceplot
